/**
 * WooCommerce Price Filter
 */
.widget_price_filter {
  .price_slider {
    margin-bottom: 1.5em;
  }

  .price_slider_amount {
    line-height: 2.4em;
    text-align: right;

    .button {
      float: left;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;
  }

  .ui-slider .ui-slider-handle {
    background: $color__link;
    box-sizing: border-box;
    cursor: ew-resize;
    height: 1em;
    margin-top: -0.25em;
    opacity: 1;
    outline: none;
    position: absolute;
    width: 1em;
    z-index: 2;

    &:last-child {
      margin-left: -1em;
    }

    &:hover,
    &.ui-state-active {
      box-shadow: 0 0 0 0.25em rgba(#000, 0.1);
    }
  }

  .ui-slider .ui-slider-range {
    background: $color__link;
    border: 0;
    display: block;
    position: absolute;
    z-index: 1;
  }

  .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
  }

  .ui-slider-horizontal {
    height: 0.5em;
  }

  .ui-slider-horizontal .ui-slider-range {
    height: 100%;
  }
}
