.btn,
.wp-block-button__link,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  // @extend .is-pill;
  display: inline-block;
  font-family: $btn__font-family;
  cursor: pointer;
  background: $btn__bg;
  text-transform: $btn__text-transform;
  color: $btn__color;
  padding: $btn__padding-y $btn__padding-x;
  border: $btn__border-width $btn__border-style $btn__border-color;
  line-height: $btn__line-height;
  border-radius: $btn__border-radius;
  &:hover {
    background: $btn__bg-hover;
    color: $btn__color-hover;
    padding: $btn__padding-y $btn__padding-x;
    border-color: $btn__border-color-hover;
  }
  &:not(.has-icon-after)::after {
    display: none;
  }

  &:visited {
    color: $btn__color;
  }

  &:active,
  &:focus {
    color: $btn__color;
    border-color: $btn__border-color;
  }
}

.btn--sm {
  @include button-size(
    $btn__padding-y-sm,
    $btn__padding-x-sm,
    $btn__font-size-sm
  );
}

.btn--lg {
  @include button-size(
    $btn__padding-y-lg,
    $btn__padding-x-lg,
    $btn__font-size-lg
  );
}

.btn--primary {
  background: $color__primary;
}

.btn--secondary {
  background: $color__secondary;
}

.btn--outlined {
  border-width: 1px;
  border-style: solid;
  border-color: $color__primary;

  &:not(:hover) {
    background: transparent !important;
  }
  &:hover {
    color: white !important;
  }
}

.btn--unstyled {
  background: none;
  border: 0;
  padding: 0;
  &:hover {
    padding: 0;
  }
}

.btn--style-1 {
  &,
  &:hover {
    background: $color__tertiary;
  }
}

.btn--style-2 {
  @extend .btn--outlined;
  color: $color__quaternary;
}

.btn--style-3 {
  &,
  &:hover {
    background: none;
    padding: 0;
    color: $color__quaternary;
  }
  text-decoration: underline;
}

.btn > a {
  color: inherit;
  background: inherit;
}
