html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin: 2rem 0;
  @include media-breakpoint-up(lg) {
    margin: 2rem 0;
  }
}

@import 'lists';

img {
  height: 100%; /* Make sure images are scaled correctly. */
  object-fit: cover; /* Adhere to container width. */
  max-width: 100%;
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

blockquote {
  position: relative;
  border: 3px solid $color__quaternary;
  border-left: none;
  border-right: none;
  padding: 3rem 0;
  font-family: $font__heading;
  margin: 6rem 0;
  color: $color__quaternary;
  line-height: 2;
  text-align: center;
  @include fontSize(20);
  p:last-of-type {
    margin: 0;
  }
  &::before {
    content: '"';
    font-family: var(--font-headings), var(--font-main), sans-serif;
    font-size: 12rem;
    /* display: flex; */
    position: absolute;
    color: inherit;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    width: 80px;
    height: 50px;
    line-height: 1em;
    transform: translateY(-50%);
  }
}

// .bmcb-module:not(:empty):not(.bmcb-heading)
//   + .bmcb-module.module-style__pull-quote {
//   margin-top: 5rem;
// }

@import 'tables';
@import 'buttons';
