// Font Awesome 5 Free

$la-font-path: '../../public/fonts/';
@import '~line-awesome/dist/line-awesome/scss/line-awesome';
// @import '@fortawesome/fontawesome-free/scss/solid';
// @import '@fortawesome/fontawesome-free/scss/brands';

.fa-social-icons {
  .fa-social-icon a {
    color: $color__black;
    &:hover {
      color: $color__white;
    }
  }
}
