table {
  width: 100%;
  @include media-breakpoint-up(lg) {
    border-collapse: collapse;
    text-align: left;
  }
}

/* Force table to not be like tables anymore */
table,
thead,
tbody,
th,
td,
tr {
  display: block;
  @include media-breakpoint-up(lg) {
    display: revert;
  }
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  @include media-breakpoint-up(lg) {
    position: initial;
    top: initial;
    left: initial;
  }
}

tr {
  border: 1px solid #ccc;
  @include media-breakpoint-up(lg) {
    border: none;
  }
}

td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 1rem 0 0.5rem 50%;

  @include media-breakpoint-up(lg) {
    border: none;
    padding: 0.5rem 0;
    @include fontSize(13.5);
  }
}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  /* Label the data */
  content: attr(data-column);

  color: #000;
  font-weight: bold;
  @include media-breakpoint-up(lg) {
    display: none;
    content: none;
  }
}

th {
  font-weight: bold;
  font-family: $font__heading;
  border-bottom: 0.2rem solid $color__quaternary;
  @include media-breakpoint-up(lg) {
    padding: 0 0 1.5rem;
    @include fontSize(16);
    color: $color__quaternary;
  }
}

@include media-breakpoint-up(lg) {
  table tbody::before {
    content: '';
    display: block;
    height: 1.2rem;
  }
}
