$form-field-height: 34px !default; // This requires a numeric value for calculations.
$form-icon-size: 24px !default; // This is determined by the height of our icon sprite.
$form-padding-small: 5px !default;
$form-padding-medium: 10px !default;
$form-padding-large: 20px !default;

$form-field-font-size: inherit !default;
$form-field-font-family: inherit !default;
$form-field-line-height: 18px !default; // This requires a numeric value for calculations.
$form-field-background-color: #fff !default;
$form-field-padding-y: ($form-field-height - $form-field-line-height) / 2 !default;
$form-field-padding-x: $form-padding-small !default;

$form-label-font-family: inherit !default;
$form-label-color: $color__quaternary !default;
$form-label-font-size: inherit !default;
$form-label-line-height: 18px !default; // This requires a numeric value for calculations.
$form-label-padding: 0 0 $form-padding-small;

$form-field-description-padding: 0 0 $form-padding-small;

$form-button-font-family: inherit !default;
$form-button-font-size: inherit !default;
$form-button-padding-x: $form-padding-medium;
$form-button-padding-y: $form-field-padding-y;

$form-container-background-color: #efefef !default;
$form-border-radius: 3px !default;
$form-box-shadow: none !default;
$form-border-color: $color__quaternary !default;
$form-border-style: solid !default;
$form-border-width: 2px !default;

$form-field-description-font-size: 14px !default;
$form-label-font-size: inherit !default;
$form-sub-label-font-size: 12px !default;

$form-error-color: #d63d59 !default;
$form-error-background: #fff1f1 !default;

// This value works best if it is a number divisble by 2, 3, and 4.
// For example, 12, 24, etc are good numbers.
$form-form-spacing-x: 4rem !default;
$form-form-spacing-y: 4rem !default;

// Mapping to our main grid breakpoint variable under structure
$form-breakpoint-small: map-get($grid-breakpoints, md) !default;

%error-message {
  background: $form-error-color;
  color: #fff;
}

/* Basic Icons */

%gf-basic-icon {
  @extend %icons-basic;

  display: inline-block;
  height: $form-icon-size;
  text-indent: -9999px;
  width: $form-icon-size;
}

%gf-icon-search {
  background-position-x: 0 * $form-icon-size;
}

%gf-icon-pin {
  background-position-x: -1 * $form-icon-size;
}

%gf-icon-new-window {
  background-position-x: -2 * $form-icon-size;
}

%gf-icon-calendar {
  background-position-x: -3 * $form-icon-size;
}

%gf-icon-chevron-right {
  background-position-x: -4 * $form-icon-size;
}

%gf-icon-chevron-left {
  background-position-x: -5 * $form-icon-size;
}

%gf-icon-chevron-down {
  background-position-x: -6 * $form-icon-size;
}

%gf-icon-chevron-up {
  background-position-x: -7 * $form-icon-size;
}

$form-use-credit-card-styles: false;

/* CC Icons */

@if $form-use-credit-card-styles {
  %gf-cc-icon {
    @extend %icons-cc;

    display: inline-block;
    height: 32px;
    text-indent: -9999px;
    width: 41px;
  }

  %gf-icon-cc-plain {
    background-position-x: 0 * 41px;
  }

  %gf-icon-cc-amex {
    background-position-x: -1 * 41px;
  }

  %gf-icon-cc-discover {
    background-position-x: -2 * 41px;
  }

  %gf-icon-cc-master {
    background-position-x: -3 * 41px;
  }

  %gf-icon-cc-paypal {
    background-position-x: -4 * 41px;
  }

  %gf-icon-cc-visa {
    background-position-x: -5 * 41px;
  }
}
