@import 'icons';

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='number'],
input[type='search'],
input[type='url'],
select,
textarea {
  background-color: $form-field-background-color;
  border: 0;
  border-bottom: $form-border-width $form-border-style $form-border-color;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $form-field-font-family;
  font-size: $form-field-font-size;
  height: $form-field-height;
  line-height: $form-field-line-height;
  padding: $form-field-padding-y $form-field-padding-x;
}

input.medium,
select.medium {
  width: 50%;
}

input.small,
select.small {
  width: 25%;
}

input.large,
select.large {
  width: 100%;
}

textarea {
  height: auto;
}

.gform_wrapper .gform_fields .gfield {
  margin-bottom: 0;
}

.gform_fields {
  display: block;
  margin: 0;
  padding: 0;

  li {
    display: block;
    list-style: none;
    list-style-type: none;
    padding: 0;
  }
}

.ginput_container {
  margin-bottom: $form-form-spacing-y;
}

.ginput_container.ginput_complex {
  margin-bottom: 0;
}

.ginput_complex > span {
  display: block;
  margin-bottom: $form-form-spacing-y;
}

.gfield_radio,
.gfield_checkbox {
  margin-top: 6px;
}

.gfield_radio label {
  font-size: 95%;
  font-weight: normal;
  margin-left: 10px;
}

.gfield_checkbox label {
  font-size: 95%;
  font-weight: normal;
  margin-left: 6px;
}

/* Labels */
.gfield_label {
  font-family: $form-label-font-family;
  color: $form-label-color;
  color: $form-label-color;
  font-size: $form-label-font-size;
  line-height: $form-label-line-height;
  margin: 0 0 0.5rem;
  display: block;
  padding: $form-label-padding;
}

.hidden_label > label,
label.hidden_sub_label {
  display: none;
}

/* Sub Labels */
.ginput_complex > span > label {
  font-size: $form-sub-label-font-size;
  font-weight: normal;
  margin: 0;
}

/* Description */
.gfield_description {
  font-size: $form-field-description-font-size;
  padding: $form-field-description-padding;
}

/* Hide validation fields */
body .gform_wrapper .gform_validation_container {
  display: none;
}

/* Buttons */
input[type='button'],
input[type='submit'] {
  border-radius: $form-border-radius;
  padding: $form-button-padding-y $form-button-padding-x;
}

.gform_footer {
  display: flex;
  .gform_button {
    margin-left: auto;
    font-family: $font__heading;
    &,
    &:hover {
      padding: 1.8rem 8rem;
      background-color: $color__quaternary;
    }
  }
}

/* Specific field styles imported here */
@import 'utility-classes';

@import 'address-field';
@import 'credit-card-field';
@import 'date-field';
@import 'file-upload-field';
@import 'name-field';
@import 'select';
@import 'text-area';
@import 'time-field';

@import 'css-ready-classes';
@import 'errors';
