// Utilities
$utilities: () !default;

// Add any custom tils you need like the following syntax. Google "Bootstrap 5 Utility API" for more examples.
$utilities: map-merge(
  (
    'depth': (
      property: z-index,
      class: z,
      values: (
        behind: -1,
        bottom: 0,
        low: 10,
        med: 50,
        high: 100,
        goku: 9001,
      ),
    ),
    'leading': (
      property: line-height,
      class: leading,
      values: (
        tight: 0.8,
        loose: 2,
      ),
    ),
  ),
  $utilities
);

// @import "name";
