body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  line-height: $font__line-height-body;
  @include fontSize(1);
}

@import 'headings';
@import 'copy';
@import 'links';
