// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  &:hover {
    padding: $padding-y $padding-x;
  }
}

// 1rem maps to 10px now for easy maths.
@mixin fontSize($size) {
  // Ensure smallest size is never below 1.4rem
  $smallSize: ($size - ($size * 0.4));
  @if $smallSize < 14 {
    $smallSize: 14;
  }
  font-size: ($size * 1px);
  font-size: clamp(
    ($smallSize / 10) * 1rem,
    ($size / 10) * 1vw,
    ($size / 10) * 1rem
  );
}

// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Equal-Width grid-column generator
@mixin grid-cols($numberColumns: 6) {
  grid-template-columns: repeat($numberColumns, 1fr);
}

@import 'breakpoints';
@import 'utilities';
