.site-footer {
  border-top: 0.1rem solid $color__white;
  background: $color__quaternary;
  color: $color__white;
  .container {
    padding: 3rem 0;
  }
  .footer__copyright p {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .fa-social-icons {
    justify-content: flex-end;
    .fa-social-icon a {
      color: $color__white;
    }
  }
  .hmw-credit-link {
    a {
      color: $color__white;
    }
  }
}
