.bmcb-section.homepage-hero {
  display: flex;
  flex-direction: column;
  background-color: #063457;
  background-blend-mode: multiply;
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .bmcb-row {
    flex-grow: 1;
    align-items: center;
  }
  .bmcb-heading__title {
    padding-top: 6rem;
    max-width: 30ch;
    margin: 0 auto;
    @include media-breakpoint-up(lg) {
      padding-top: 0;
    }
  }
  .hero-cta-row {
    flex-grow: 0;
    justify-content: center;
    border-radius: $border-radius;
    @include media-breakpoint-up(lg) {
      transform: translateY(50%);
    }
    .bmcb-blurb__title {
      @include fontSize(18);
    }
    .btn {
      width: 80%;
    }
    .bmcb-column {
      @include media-breakpoint-up(lg) {
        padding: 0 4rem;
      }
    }
    .bmcb-column + .bmcb-column {
      .bmcb-module {
        margin-top: 4rem;
      }
    }

    @include media-breakpoint-up(lg) {
      .bmcb-column + .bmcb-column {
        border-left: 2px solid #ededed;
        .bmcb-module {
          margin-top: 0;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 12rem;
    min-height: 55vh;
  }
}
