@import 'top-header';
@import 'main-header';
@import 'top-menu';
@import 'main-menu';
@import 'home';
@import 'page';
@import 'news';
@import 'sections';
@import 'post';
@import 'footer';

// If only col-12, max width should be 85% on large devices for any text/accordions
.col-12:not([class*='col-lg-']):not([class*='col-md-']):not([class*='col-xl-']) {
  @include media-breakpoint-up(md) {
    .bmcb-text,
    .module-style__faq {
      margin: 0 auto;
      @include media-breakpoint-up(md) {
        max-width: 85%;
      }
    }
  }
}
