@media all and (min-width: 601px) {
  body.admin-bar.sticky #main-header {
    top: 4.6rem;
  }
}

@media all and (min-width: 783px) {
  body.admin-bar.sticky #main-header {
    top: 3.2rem;
  }
}

.site-logo-text {
  color: $color__white;
}
.logo_container {
  flex-grow: 1;
}

.logo__header {
  padding: 2rem 0;
  max-width: 12rem;
  max-width: clamp(10rem, 14vw, 24rem);
}

#main-header.sticky + #et-main-area {
  padding-top: 10rem;
}

.sticky #main-header,
body:not(.home) #main-header {
  background: rgba(#063457, 0.9);
}

#main-header {
  box-shadow: none;
  background: #143355;
  // opacity: 0;
  align-items: center;
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
  transition: opacity 0.4s;
  overflow: hidden;
  padding: 2rem 0;
  .container {
    display: flex;
    align-items: center;
    padding: 0;
    @include media-breakpoint-up(lg) {
      padding: 0 1.5rem;
    }
  }
  .et_menu_container {
    display: flex;
    align-items: center;
  }
  @include media-breakpoint-up(lg) {
    + #et-main-area {
      padding-top: 10rem;
    }
  }
}

.home #main-header {
  animation: bgTrans ease 2s forwards;
}

.no-js #main-header {
  display: flex;
  opacity: 1 !important;
  height: 100%;
}

.sticky #main-header {
  padding: 0;
  background-color: rgba(6, 52, 87, 0.9) !important;
}

#main-header #logo {
  max-width: 60%;
}

.main-header__right {
  .main-header__contact-numbers {
    font-family: $font__heading;
    margin: 0 3rem 0 0;
  }
}

@include media-breakpoint-up(lg) {
  #main-header.sticky
    #top-menu-nav
    #main-menu
    > li.menu-item-has-children
    > a:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@keyframes bgTrans {
  100% {
    background: transparent;
  }
}
