.article-grid__wrapper {
  .article-grid__hero-news {
    .article-grid__header {
      @extend %heroLayoutImageWrapper;
    }
    .article-grid__article {
      @extend %heroLayoutBase;
    }
    .article-grid__title {
      @extend %heroLayoutTitle;
    }
    .article-grid__body {
      @extend %heroLayoutBody;
    }
    .article-grid__cta-wrapper {
      @extend %heroLayoutCTA;
      .btn {
        width: 100%;
        text-align: center;
        @extend .btn--outlined;
      }
    }
    .article-grid__article .article-grid__cta-wrapper {
      text-align: left;
      margin-top: 4rem;
    }
    .article-grid__article .article-grid__body {
      flex-basis: 60%;
    }
    .article-grid__article .article-grid__body {
      flex-basis: 40%;
    }
  }
}
