/* Add some spacing between multiple modules that start with headings */
body:not(.home) {
  .bmcb-module:not(.heading-space-0) h2:first-child {
    margin-top: 2rem;
  }
}

/* Reduce space for the headings if there is a hr module preceeding them */
body:not(.home) {
  .bmcb-hr-module
    + .bmcb-row
    .bmcb-module:not(.heading-space-0)
    h2:first-child {
    margin-top: 1rem;
  }
}

.page-header {
  text-align: center;
  font-family: $font__heading;
  background: $color__lightgray;
  &__categories-list {
    margin-bottom: 2rem;
    color: $color__primary;
    &--all {
      color: $color__quaternary;
      display: flex;
      a {
        padding: 0 1.6rem;
      }
    }
    a {
      text-decoration: underline;
    }
  }
  &__title {
    margin-bottom: 0.3em;
    @include fontSize(50);
  }
  &__breadcrumbs {
    padding-bottom: 2rem;
    #breadcrumbs {
      font-family: $font__main;
      @include fontSize(15);
    }

    .breadcrumb_last {
      color: #063457;
    }
  }
  &__intro {
    color: $color__quaternary;
    @include fontSize(20);
    max-width: 58ch;
    line-height: 2;
    &--news {
      max-width: none;
    }
  }
  &__image {
    background: linear-gradient(0deg, $color__white 50%, transparent 50%);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  > .container {
    padding: clamp(2rem, 10vw, 10rem) 0;
  }
  &__image {
    .container {
      padding: 0;
    }
  }
}
