/* Add large top spacing between multiple modules that start with headings */
body:not(.home) {
  .entry-content h2,
  .entry-content h3 {
    margin-top: 4rem;
  }
}

.post-categories__list {
  margin: 5rem 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  &-item + &-item {
    margin-left: 2rem;
  }
}

.post-categories__link {
  padding: 0.6rem 2rem;
  border: 2px solid black;
  border-radius: 30px;
}

.post-meta {
  padding-bottom: 2rem;
}
