@import '../sass/mixins/mixins-master';
@import '../sass/variables-site/variables-site';

// Restrict custom styles to the GUI
#buildy-root .cta-button,
#tinymce {
  @import '../sass/typography/headings';
  @import '../sass/elements/elements';
  .btn {
    &,
    &:hover {
      padding: 1rem;
    }
  }
}

// #adminmenu .wp-submenu {
//   margin-left: 0;
// }

// .wp-admin button {
//   padding: 0;
//   font-size: 1rem;
// }

// .wp-core-ui .button,
// .wp-core-ui .button-primary {
//   &:hover {
//     padding: 0 10px;
//   }
// }
