.accordion {
  .accordion-title {
    @include fontSize(19);
    background: none;
    color: $color__quaternary;
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: '\f067';
      font-family: 'Line Awesome Free';
      color: inherit;
      position: unset;
      @include fontSize(24);
      font-weight: 900;
      margin-right: 2rem;
      background: white;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      flex-shrink: 0;
    }
    &::after {
      display: none;
    }
  }
  &[open] .accordion-title::before {
    content: '\f068';
    // transform: rotate(-45deg) !important;
  }
  &[open] .accordion-title::after {
    display: none;
  }
  .accordion-body {
    padding-left: 8rem;
    background: none;
  }
  &[open] {
    background: $color__lightgray;
  }
}

@include media-breakpoint-up(lg) {
  .bmcb-column .bmcb-module.module-style__faq {
    + .bmcb-module.module-style__faq {
      border-top: 1px solid $color__quaternary;
      margin-top: 4rem;
      padding-top: 4rem;
    }
  }
}
