// This is the grid from [list-posts] shortcode
.article-grid__post {
  .article-grid__date {
    font-size: 1.5rem;
  }

  .article-grid__title {
    @extend %cardLayoutTitle;
  }

  .article-grid__icon-link i {
    display: inline-block;
    padding: 0;
    line-height: 1;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $color__quaternary;
    font-size: 2rem;
  }

  .article-grid__image-wrapper {
    display: block;
    flex-shrink: 0;
    flex-grow: 1;
    margin-bottom: 2rem;
    img {
      display: flex;
      max-height: 27rem;
      width: 100%;
      object-fit: cover;
      border-radius: $global-radius;
    }
  }

  .article-grid__cat-links {
    display: block;
    margin-bottom: 1rem;
    a {
      color: $color__primary;
      text-decoration: underline;
    }
  }
}

.article-grid__wrapper {
  .loadmore-button {
    display: block;
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
    @extend .btn--outlined;
    transition: background 0.2s, color 0.2s;
    color: $color__quaternary;
    font-family: $font__heading;
  }
  .spinner {
    display: none;
    margin-top: 3rem;
    text-align: center;
  }
}
