.module-style__header-with-button {
  .bmcb-blurb__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .bmcb-blurb__title {
    @include media-breakpoint-up(md) {
      margin-right: 2rem;
    }
  }
  &.centered {
    .bmcb-blurb__content {
      justify-content: space-around;
    }
    .bmcb-blurb__title {
      flex-grow: 0;
    }
  }
}

.bmcb-blurb {
  .bmcb-blurb__title {
    flex-grow: 1;
  }
  .bmcb-blurb__description {
    margin-bottom: 4rem;
  }
  .btn {
    display: inline-block;
  }
}

.feature-border--top,
.module-style__feature-border-top {
  &::before {
    content: '';
    display: block;
    width: 7rem;
    height: 0.3rem;
    background: $color__quaternary;
    margin-bottom: 3rem;
    border-radius: 0.2rem;
  }
}

.bmcb-blurb.module-style__icon-card {
  @extend %cardLayoutItem;
  background: $color__lightgray;
  .icon {
    @extend %cardLayoutIcon;
  }
  .bmcb-blurb__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bmcb-blurb__description {
    @extend %cardLayoutBody;
    padding-bottom: 2rem;
  }
  .bmcb-blurb__title {
    @extend %cardLayoutTitle;
  }
  .bmcb-blurb__button-wrapper {
    .btn {
      @extend %cardLayoutCTA;
    }
  }
}

.module-style__hero-cta {
  @extend %heroLayoutBase;
  .bmcb-blurb__title {
    @extend %heroLayoutTitle;
  }
  .bmcb-blurb__image-wrapper {
    @extend %heroLayoutImageWrapper;
  }
  .bmcb-blurb__content {
    @extend %heroLayoutBody;
  }
  .bmcb-blurb__button-wrapper,
  .btn {
    @extend %heroLayoutCTA;
  }
}
