%cardLayoutItem {
  background: $color__white;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid $color__quaternary;
}

%cardLayoutIcon {
  @include fontSize(32);
  color: $color__quaternary;
  margin-bottom: 2rem;
}

%cardLayoutTitle {
  @include fontSize(21);
  line-height: 2.7rem;
  margin-bottom: 0.6em;
  a {
    font-family: $font__heading;
    color: inherit;
  }
  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

%cardLayoutBody {
  padding-bottom: 4rem;
  margin-bottom: 0;
  flex-grow: 1;
  @include media-breakpoint-up(md) {
    padding-bottom: 4rem;
  }
}

%cardLayoutCTA {
  background: none;
  padding: 0;
  color: $color__quaternary;
  text-decoration: underline;
}

%heroLayoutBase {
  background: $color__quaternary;
  border-radius: $global_radius;
  overflow: hidden;
  display: flex;
  text-align: left;
}
%heroLayoutTitle {
  color: $color__white;
  margin-bottom: 1em;
  @include fontSize(28);
}
%heroLayoutImageWrapper {
  flex-basis: 30%;
  margin-bottom: 0;
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  @include media-breakpoint-up(md) {
    flex-basis: 50%;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: 70%;
  }
}
%heroLayoutBody {
  color: $color__white;
  line-height: 2;
  flex-basis: 70%;
  padding: 2rem;
  padding: clamp(2rem, 6vw, 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(md) {
    flex-basis: 50%;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: 30%;
  }
}
%heroLayoutCTA {
  width: 100%;
  text-align: center;
}
