.locations-map-module__wrapper {
  background: linear-gradient(0deg, $color__quaternary 50%, transparent 50%);
}
.locations-map-module {
  display: flex;
  flex-direction: column;
  background: $color__lightgray;
  border-radius: $border-radius;
  overflow: hidden;
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-shrink: 1;
    padding: 2rem;
    margin: 0;
    &-item {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      margin: 1rem 0;
      text-align: center;
      @include media-breakpoint-up(sm) {
        flex-basis: 50%;
      }
      @include media-breakpoint-up(md) {
        align-items: center;
        flex-direction: row;
        text-align: left;
      }
      @include media-breakpoint-up(lg) {
        flex-basis: 100%;
      }
    }
    &-logo-wrapper {
      margin-bottom: 2rem;
      padding: 2rem;
      flex-shrink: 0;
      width: 14vw;
      max-width: 16rem;
      width: clamp(12rem, 14vw, 16rem);
      height: clamp(10rem, 12vw, 12rem);
      text-align: center;
      img {
        object-fit: contain;
      }
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-right: 2rem;
      }
      @include media-breakpoint-up(lg) {
        margin-right: 4rem;
      }
    }
    &-details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      &__title {
        @include fontSize(18);
        margin-bottom: 0.6em;
      }
    }
    @include media-breakpoint-up(lg) {
      padding: 4rem;
    }
  }
  &__map {
    flex-basis: 50%;
    flex-grow: 1;
    .ol-viewport {
      min-height: 50rem;
    }
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.bg-lightgray .locations-map-module {
  background: $color__white;
}
