.modal {
  display: none;
}

.modal-inner {
  max-width: 60%;
  background: $color__white;
  padding: 4rem;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal.is-open {
  display: flex;
  position: fixed;
  background: rgba(black, 0.4);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
