.services-grid {
  &__icon {
    @extend %cardLayoutIcon;
  }
  @include media-breakpoint-up(md) {
    .bmcb-column:first-child {
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 35rem;
        height: 35rem;
        background-image: url(//localhost:3000/wp-content/uploads/2021/03/motif.svg);
        background-size: cover;
        mix-blend-mode: multiply;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }
}

.article-grid.article-grid__services {
  .article-grid__article {
    @extend %cardLayoutItem;
  }
  .article-grid__body {
    @extend %cardLayoutBody;
  }
  .article-grid__title {
    @extend %cardLayoutTitle;
  }
  .article-grid__cta {
    @extend %cardLayoutCTA;
  }
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.module-style__dark-cards .article-grid.article-grid__services {
  .article-grid__article {
    background: $color__lightgray;
  }
  .article-grid__body {
    padding-bottom: 2rem;
  }
  .article-grid__cta {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
  }
}
