.sitewide-message {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s;
  &__content {
    flex-grow: 1;
    p:last-of-type {
      margin: 0;
    }
  }
  &.is--visible {
    padding: 1.8rem;
    height: auto;
    margin-top: 0;
    opacity: 1;
    display: flex;
  }
  .bar-exit {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
  }
}
