/* Testi Slider */
.testimonial-slider__slide {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:not(.image-false) {
    height: 700px;
    .container {
      padding: 12rem 0;
    }
  }
}

.testimonial-slider__slide .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.testimonial-slider__content-box {
  flex-basis: 100%;
  max-width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.822);
  padding: 4rem;
  border-radius: 30px;
  border: 4px solid $color__primary;
  @include media-breakpoint-up(lg) {
    flex-basis: 50%;
    margin: 0;
  }
}

.testimonial-slider__slide.is-wide .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 75%;
  }
}

.testimonial-slider__slide.is-full .testimonial-slider__content-box {
  @include media-breakpoint-up(lg) {
    flex-basis: 100%;
  }
}

.testimonial-slider__arrow-group {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  .testimonial-slider__arrow {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    & + .testimonial-slider__arrow {
      margin-left: 1.6rem;
    }
  }
}

.is-hidden {
  opacity: 0 !important;
}
