.locations-list {
  display: flex;
  justify-content: center;
  margin: 0 auto 4rem;
  @include media-breakpoint-up(md) {
    max-width: 90%;
  }
  &__item {
    padding: 0 2rem;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    a {
      @extend .btn;
      width: 100%;
      text-align: center;
    }
  }
}

.location-title {
  text-align: center;
  @include fontSize(40);
  padding: 2rem 0 4rem;
}

.article-grid.article-grid__team {
  .article-grid__team-image img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    border-radius: ($global_radius / 1.2) ($global_radius / 1.2) $global_radius
      $global_radius;
  }
  .article-grid__article {
    border-radius: $global_radius;
  }
  .article-grid__title {
    @include fontSize(20);
    padding: 2rem 0;
    margin: 0;
  }
  .article-grid__body {
    @extend %cardLayoutBody;
    padding-bottom: 3rem;
  }
  .article-grid__cta {
    @extend %cardLayoutCTA;
  }
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
}

#team-modal {
  .modal-inner {
    padding: 0;
  }
  .team-modal__title,
  .team-modal__sub-title {
    margin: 0;
    color: $color__white;
  }
  .team-modal__title {
    @include fontSize(32);
    margin: 0 0 1rem;
    font-weight: light;
  }
  .team-modal__sub-title {
    @include fontSize(20);
  }
  .team-modal__content-wrapper,
  header {
    padding: 4rem;
  }
  header {
    text-align: center;
  }
  .team-modal__image {
    max-width: 36rem;
    display: none;
  }
}
